/*
    Styling in this and other .scss files will be compiled by the sbt-sass-compiler plugin: https://github.com/hmrc/sbt-sass-compiler
    If you encounter any issue with Sass compilation using the plugin, please reach out to the PlatUI team.
 */

.js-visible {
  display: none !important;
}

.js-enabled .js-visible {
  display: inline-block !important;
}

.character-count-input-wrapper {
  display: inline-block;
  width: 100%;
}

.custom-summary-list dd {
  width: 20%;
}

.custom-margin-body {
  margin-bottom: 40px;

  @media (min-width: 641px) {
    margin-bottom: 60px;
  }
}

// .custom-margin-header {
//   margin-bottom: 25px;
//   padding: 0;
//
//   @media (min-width: 641px) {
//     margin-bottom: 40px;
//   }
// }
